{% extends 'base.html.twig' %}

{% block loginSuccessfulPage %} current_page {% endblock %}

{% block title %}Logged in{% endblock %}

{% block body %}
    <h5>
        {{ app.user.username }}, your account details are as follows:
    </h5>

    <br>

    <table class="table">
        <tbody>
        <tr>
            <th>Username:</th>
            <th>Role(s):</th>
        </tr>
        <tr>
            <td>{{ app.user.username}}</td>
            <td>
                <ol>
                    {% for role in  app.user.roles %}
                        <li>{{ role }}</li>
                    {% endfor %}
                </ol>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}