{% extends 'base.html.twig' %}

{% block loginSuccessfulPage %} current_page {% endblock %}

{% block title %}Logged in{% endblock %}

{% block body %}
    <h4>
        You are logged in as:
    </h4>

    <br>

    <table class="table">
        <tbody>
        <tr>
            <th>Username:</th>
            <th>Role:</th>
        </tr>
        <tr>
            <td>{{ app.user.username}}</td>
            <td>
                {% for role in  app.user.roles %}
                    {{ role }}
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}