nav, nav.mainBar
{
    border: 3px solid #ff4d4d;
    background-color:  #4fabc9;
    font-family:Verdana, Arial, "sans-serif";
}

/*nav ul li*/
/*{*/
    /*display: inline;                !* one bar across*!*/
    /*list-style-type:none;           !* removes the list apperance *!*/
    /*text-decoration: none;*/
    /*color: white;*/
/*}*/

nav a:link
{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

nav a:visited
{
    color: yellow; /* nav turns once it's visited */
    text-decoration: none;
}
nav a:hover
{
    color: lawngreen;
    text-transform: uppercase;
}

nav a.current_page
{
    color: silver;
    font-weight: bold;
    /*font-size: 20px;*/
}

#loggedIn
{
    font-size: 1rem;
    color: sienna;
    font-weight: bold;
}n