{% extends 'base.html.twig' %}

{% block homePage %} current_page {% endblock %}
{% block homePage2 %} current_page {% endblock %}

{% block title %} Home{% endblock %}

{% block body %}

    <h2>Welcome to the Home page</h2>

    <br>

    <p>
        Welcome to the 7th iteration of the home page, this is the basic version
    </p>

    <br>

    <p>
        Why don't you view a book while your here.
    </p>

    {#user with user role is logged in #}
    {% if is_granted('ROLE_USER')%}
        <br>
        <h5 style="color: #4fabc9"> <span style="color: red;font-style: italic">{{ app.user }}</span>, since you logged in. You can also CRUD books
                {#user with admin role is logged in #}
                {% if is_granted('ROLE_ADMIN')%}
                    or Users, if you feel so inclined.
                {% endif %}
       </h5>
    {% endif %}
{% endblock %}