{% extends 'base.html.twig' %}

{% block homePage %} current_page {% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h3>Welcome to the Home page</h3>

    <br>

    <li>
        Welcome Guest to the site.
    </li>

    <p style="padding-left: 5%">
        Feel welcomed to view our catalog of available books while your here.
    </p>

    <br>

    <li>
        If you have an account:
    </li>

    <p style="padding-left: 5%">
        You may also login to have access to more.
    </p>
{% endblock %}