{% extends 'base.html.twig' %}

{% block homePage %} current_page {% endblock %}

{% block title %} Home{% endblock %}

{% block body %}

    <h2>Welcome to the Home page</h2>

    <br>

    <p>
        welcome to the third iteration of the home page, this is the basic version
    </p>

{% endblock %}