{% extends 'base.html.twig' %}

{% block homePage %} current_page {% endblock %}

{% block title %} Home page{% endblock %}

{% block body %}

    <h2>Home page</h2>

    <p>
        welcome to the second iteration of the home page, this is the basic version
    </p>

{% endblock %}