{% extends 'base.html.twig' %}

{% block userPage %} current_page {% endblock %}

{% block title %}New User{% endblock %}

{% block body %}
    <h2>Create a new User</h2>

    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}

    <h5> Fill out the form details below:</h5>
    <br>

<form method="POST">

    <table class="table">
        <tbody>
        <tr>
            <th>Username:</th>
            <td>
                <input type="text" id="userInputs" name="userName" required autofocus>
            </td>
        </tr>
        <tr>
            <th>Password:</th>
            <td>
                <input type="password" id="userInputs" name="pass" required>
            </td>
        </tr>
        <tr>
            <th>Their Role:</th>
            <td>
                <select name="roleInput" id="userInputs" required>
                    <option value="ROLE_USER">ROLE_USER</option>
                    <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>

    <p align="center">
        <button class="btn">Create</button>
    </p>

</form>

    <br>

    <hr id="pageHr">

    <h5><a href="{{ path('user_index') }}">Go back to the list</a></h5>
{% endblock %}