{% extends 'base.html.twig' %}

{% block homePage %} current_page {% endblock %}

{% block title %} Admin view page{% endblock %}

{% block body %}

    <h2>Admin loggin in view page</h2>

    <p>
        Welcome to admin view page
    </p>

{% endblock %}