<form method="POST" action="{{ path('book_bidAccept', {'id': book.id}) }}" onsubmit="return confirm('Accept bid of €{{ book.bid }} on this book?');">
    <button class="btn">Accept Bid</button>
</form>