{% extends 'base.html.twig' %}

{% block accountPage %} current_page {% endblock %}

{% block title %}Unauthorised{% endblock %}

{% block body %}
    <h2 style="text-decoration: underline double">Access Denied!</h2>

    <p style="font-size: large">
        Sorry you don't have access to the requested page
        <hr>
        <a href="{{ url('homepage') }}">Go to home page</a>
        <br>
        <a href="{{ url('app_logout') }}">Login again</a>
    </p>
{% endblock %}