{% extends 'base.html.twig' %}

{% block homePage %} current_page {% endblock %}

{% block title %} User view page{% endblock %}

{% block body %}

    <h2>User view page</h2>

    <p>
        Welcome to user view page
    </p>

{% endblock %}